h1:hover {
    /* COMMENT OUT IN CSS */
    /* color:green */
    color: darkmagenta;
}
.button:hover {
    color: violet;
}
a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link inherit the text color from its parent */
}
