body {
    background-color: lightyellow;
}
h1:hover {
    /* COMMENT OUT IN CSS */
    /* color:green */
    color: darkmagenta;
}
ol a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link inherit the text color from its parent */
}
.button:hover {
    color: violet;
}
a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link inherit the text color from its parent */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  ul li {
    float: left;
  }
  ul li a {
    display: block;
    padding: 15px;
    font-weight: bold;
    color:darkmagenta
  }
  li a:hover {
    background-color: violet;
  }
  .active {
    background-color: violet;
  }
.spacer {
    height: 100px; /* Adjust space as needed */
}
.bold {
    font-weight: bold; /* Makes the text bold */
}
#bold-link {
    font-weight: bold;
}
.text-container {
    background-color: rgb(254, 198, 254); /* Background color */
    padding: 15px; /* Space inside the div */
    border-radius: 30px; /* Rounded corners */
    width: 1000px; /* Set a fixed width */
    margin: 20px 0; /* Centering the div */
}
.text-container1 {
    background-color: rgb(254, 198, 254); /* Background color */
    padding: 10px; /* Space inside the div */
    border-radius: 20px; /* Rounded corners */
    width: 1000px; /* Set a fixed width */
    margin: 20px 0; /* Centering the div */
}
.styled-table {
    width: 50%; /* Adjusts table width */
    border-collapse: collapse; /* Removes double borders */
    margin: 15px 0;
    font-size: 15px;
    text-align: left;
}
.styled-table td {
    border: 1px solid black; /* Adds border to cells */
    padding: 10px; /* Adds space inside cells */
    background-color: white;
}
.list-container {
    width: 30%; /* Adjust width */
    margin: 0px 0; /* Centers the list */
    padding: 0px;
    line-height: 1.5;
}
#italic-text {
    font-style: italic;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
